.inner-about-hero{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

.about-content{
   text-align: center;
   margin-bottom: 30px;
   .text-content{
        width: 80%;
        margin: 0 auto;
        h3{
            font-family: $lora;
            font-size: 35px;
            padding: 20px 0;
        } 
        p{
            &:first-of-type{
                margin-bottom: 30px;
            }
        }
   }
}