.callToAction{
    text-align: center;
    background-color: $callToAction;
    padding: 80px 0;

    h4{
        font-family: $lora;
        text-transform: uppercase;
        font-size: 25px;
    }
    p{
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}