// COlors
$blue: #07105f;
$blue2: #194977;
$check: #2e8aff;
$orange: #d3862e;
$orange2: #ce9a82;
$white: #fff;
$card: #f8f9fe;
$black: #2d2d2d;
$linkedin: #1470c3;
$twitter: #1da1f2;
$fb: #4267b2;
$callToAction: #f8f9fe;
$skyblue: #7d95c1;
$ash: #686e6c;
$brown: #7c311e;
$brown2: #872b2c;
$orange3: #d49c77;
$litegreen: #a9b611;
$red: #af3d45;
$tileblue: #134b7e;
$pink: #d97d8c;
$liteskyblue: #bccbe0;
$midgreen: #d0ce57;
