// COlors
$blue: #07105f;
$blue2: #194977;
$orange: #d3862e;
$orange2: #ce9a82;
$white: #fff;
$card: #f8f9fe;
$black: #2d2d2d;
$linkedin: #1470c3;
$twitter: #1da1f2;
$fb: #4267b2;
$callToAction: #f8f9fe;