@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');

$lora: 'Lora';

.inner-contact-hero{
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0 60px;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $blue;
        opacity: 0.7;
    }

    .title{
        margin-bottom: 50px;
        h3{
            color: $white;
            text-align: center;
            font-family: $lora;
            font-size: 35px;
        }
    }

    &.about-contact{
        padding-bottom: 0;
        &::before{
            display: none;
        }
        .copy{
            text-align: center;
            color: $white;
            padding: 60px 0 30px;
        }
    }

    &.single-member-contact{
        padding-top: 0;
        padding-bottom: 0;
        &::before{
            display: none;
        }
        .copy{
            text-align: center;
            color: $white;
            padding: 40px;
        }
    }
}

.form-ideal{
    background-color: $card;
    border-radius: 10px;
    padding: 15px 25px;

    .title{
        margin-bottom: 0;
        h6{
            font-weight: bold;
            color: $orange;
            font-size: 15px;
            text-align: center;
            margin-bottom: 30px;
        }
    }

    input, textarea{
        &::placeholder{
            color: $black;
        }
    }

    textarea{
        height: 100px;
    }

    .button{
        text-align: center;
        input{
            background-color: $orange;
            color: $white;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

.form-side{
    background-color: $card;
    border-radius: 10px;
    padding: 15px 20px;

    .address{
        .title{
            margin-bottom: 0;
            h6{
                font-weight: bold;
                color: $orange;
                font-size: 15px;
                text-align: center;
                margin-bottom: 30px;
            }
        }

        a{
            color: $orange;
        }

        p{
            
            padding: 0 0 20px 0;
            span{

                &:first-child{
                    width: 30%;
                }
                width: 70%;

                display: -block;
                float: left;
            }
        }
    }


    .social{
        margin-top: 130px;
        ul{
            list-style: none;
            text-align: center;
            padding: 0;
            li{
                display: inline-block;
                margin-right: 10px;
                a{
                    background-color: #fff;
                    i{
                        color: $white;
                        width: 20px;
                        height: 20px;
                        padding: 5px 0;
                        font-size: 12px;
                    }

                    i.fa-linkedin{
                        background-color: $linkedin;
                    }

                    i.fa-facebook{
                        background-color: $fb;
                    }

                    i.fa-twitter{
                        background-color: $twitter;
                    }
                }
            }
        }
    }

}

.map{
    position: relative;

    iframe{
        position: relative;
    }

    p{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
    }
}