@media screen and (min-width: 320px) and (max-width: 767px){
    .inner-about-hero {
        height: 200px;
    }
    
    .form-side {
        margin-top: 30px;
    }
    

    .categories {
        .title {
            margin-bottom: 20px;
        }
        .cat{
            margin-bottom: 20px;
        }

        .cat-block {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .members{
        .thumb-content {
            padding: 20px;
        }
        .ideal-pagination {
            .b2t {
                a {
                    top: -25px;
                }
            }
        }
    }
}