@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap");
.inner-contact-hero {
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0 60px;
}
.inner-contact-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #07105f;
  opacity: 0.7;
}
.inner-contact-hero .title {
  margin-bottom: 50px;
}
.inner-contact-hero .title h3 {
  color: #fff;
  text-align: center;
  font-family: "Lora";
  font-size: 35px;
}
.inner-contact-hero.about-contact {
  padding-bottom: 0;
}
.inner-contact-hero.about-contact::before {
  display: none;
}
.inner-contact-hero.about-contact .copy {
  text-align: center;
  color: #fff;
  padding: 60px 0 30px;
}
.inner-contact-hero.single-member-contact {
  padding-top: 0;
  padding-bottom: 0;
}
.inner-contact-hero.single-member-contact::before {
  display: none;
}
.inner-contact-hero.single-member-contact .copy {
  text-align: center;
  color: #fff;
  padding: 40px;
}

.form-ideal {
  background-color: #f8f9fe;
  border-radius: 10px;
  padding: 15px 25px;
}
.form-ideal .title {
  margin-bottom: 0;
}
.form-ideal .title h6 {
  font-weight: bold;
  color: #d3862e;
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
}
.form-ideal input::placeholder, .form-ideal textarea::placeholder {
  color: #2d2d2d;
}
.form-ideal textarea {
  height: 100px;
}
.form-ideal .button {
  text-align: center;
}
.form-ideal .button input {
  background-color: #d3862e;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.form-side {
  background-color: #f8f9fe;
  border-radius: 10px;
  padding: 15px 20px;
}
.form-side .address .title {
  margin-bottom: 0;
}
.form-side .address .title h6 {
  font-weight: bold;
  color: #d3862e;
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
}
.form-side .address a {
  color: #d3862e;
}
.form-side .address p {
  padding: 0 0 20px 0;
}
.form-side .address p span {
  width: 70%;
  display: -block;
  float: left;
}
.form-side .address p span:first-child {
  width: 30%;
}
.form-side .social {
  margin-top: 130px;
}
.form-side .social ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
.form-side .social ul li {
  display: inline-block;
  margin-right: 10px;
}
.form-side .social ul li a {
  background-color: #fff;
}
.form-side .social ul li a i {
  color: #fff;
  width: 20px;
  height: 20px;
  padding: 5px 0;
  font-size: 12px;
}
.form-side .social ul li a i.fa-linkedin {
  background-color: #1470c3;
}
.form-side .social ul li a i.fa-facebook {
  background-color: #4267b2;
}
.form-side .social ul li a i.fa-twitter {
  background-color: #1da1f2;
}

.map {
  position: relative;
}
.map iframe {
  position: relative;
}
.map p {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.inner-about-hero {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}

.about-content {
  text-align: center;
  margin-bottom: 30px;
}
.about-content .text-content {
  width: 80%;
  margin: 0 auto;
}
.about-content .text-content h3 {
  font-family: "Lora";
  font-size: 35px;
  padding: 20px 0;
}
.about-content .text-content p:first-of-type {
  margin-bottom: 30px;
}

.callToAction {
  text-align: center;
  background-color: #f8f9fe;
  padding: 80px 0;
}
.callToAction h4 {
  font-family: "Lora";
  text-transform: uppercase;
  font-size: 25px;
}
.callToAction p {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.callToAction.about {
  background-color: transparent;
}
.callToAction.about h4 {
  font-family: "Lora";
  font-size: 35px;
  text-transform: none;
}
.callToAction.about h5 {
  font-size: 18px;
}
.callToAction.about p {
  max-width: 1000px;
  text-transform: none;
  margin: 0 auto;
  padding: 20px 0 30px;
}

.btn-orange {
  background-color: #d3862e;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.single-member {
  padding-bottom: 20px;
}
.single-member .right-desc h5 {
  font-weight: bold;
  font-size: 20px;
}
.single-member .right-desc h5.name {
  color: #194977;
}
.single-member .right-desc h6.location {
  color: #ce9a82;
  font-size: 18px;
  padding: 7px 0;
  margin-bottom: 0;
}
.single-member .right-desc p {
  font-size: 16px;
  line-height: 25px;
}
.single-member .right-desc.full {
  padding-top: 30px;
}

.members .search-result {
  padding: 25px 0 0;
}
.members .search-result p {
  font-weight: bold;
}
.members .search-result .sort p {
  text-align: right;
  font-weight: normal;
}
.members .search-result .sort p span {
  color: #d3862e;
  font-weight: bold;
}
.members .thumbnail {
  margin: 15px 0;
  padding: 0;
  border-radius: 6px;
  box-shadow: 2px 1px 13px #ddd;
  border: none;
}
.members .thumbnail .thumb-content h5 {
  font-weight: bold;
  font-size: 20px;
}
.members .thumbnail .thumb-content h5.name {
  color: #194977;
}
.members .thumbnail .thumb-content h6.location {
  color: #ce9a82;
  font-size: 18px;
  padding: 7px 0;
  margin-bottom: 0;
}
.members .thumbnail .thumb-content p {
  margin-top: 15px;
  line-height: 22px;
}
.members .thumbnail .thumb-content.full {
  padding-top: 30px;
}
.members .social ul {
  list-style: none;
  text-align: right;
  padding: 0;
}
.members .social ul li {
  display: inline-block;
  margin-right: 10px;
  text-align: center;
}
.members .social ul li a {
  background-color: #fff;
}
.members .social ul li a i {
  color: #fff;
  width: 20px;
  height: 20px;
  padding: 5px 0;
  font-size: 12px;
}
.members .social ul li a i.fa-linkedin {
  background-color: #1470c3;
}
.members .social ul li a i.fa-facebook {
  background-color: #4267b2;
}
.members .social ul li a i.fa-twitter {
  background-color: #1da1f2;
}
.members .ideal-pagination {
  text-align: center;
}
.members .ideal-pagination ul li a {
  border: none;
  position: relative;
  color: #000;
  font-size: 18px;
  margin: 0 6px;
}
.members .ideal-pagination ul li a::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  background-color: #000;
  bottom: 0;
  left: 50%;
  margin-left: -35%;
}
.members .ideal-pagination ul li a:hover {
  background-color: transparent;
  font-weight: bold;
  color: #d3862e;
}
.members .ideal-pagination ul li a:hover::before {
  background-color: #d3862e;
}
.members .ideal-pagination ul li a.prev span, .members .ideal-pagination ul li a.next span {
  font-size: 30px;
}
.members .ideal-pagination ul li a.prev::before, .members .ideal-pagination ul li a.next::before {
  display: none;
}
.members .ideal-pagination .b2t {
  width: auto;
  position: relative;
}
.members .ideal-pagination .b2t a {
  position: absolute;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  top: -60px;
  right: 15px;
}

.categories {
  padding: 50px 0;
}
.categories .container .cat-block:last-child {
  margin-bottom: none;
}
.categories .title {
  text-align: center;
}
.categories .title h3 {
  font-family: "Lora";
  font-size: 35px;
}
.categories .cat-block {
  margin-top: 20px;
  margin-bottom: 20px;
}
.categories .cat-block a {
  text-decoration: none;
}
.categories .cat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 262px;
  border-radius: 10px;
}
.categories .cat.sky-blue {
  background-color: #7d95c1;
}
.categories .cat.ash {
  background-color: #686e6c;
}
.categories .cat.orange {
  background-color: #d3862e;
}
.categories .cat.brown {
  background-color: #7c311e;
}
.categories .cat.brown2 {
  background-color: #872b2c;
}
.categories .cat.orange3 {
  background-color: #d49c77;
}
.categories .cat.litegreen {
  background-color: #a9b611;
}
.categories .cat.red {
  background-color: #af3d45;
}
.categories .cat.tileblue {
  background-color: #134b7e;
}
.categories .cat.pink {
  background-color: #d97d8c;
}
.categories .cat.liteskyblue {
  background-color: #bccbe0;
}
.categories .cat.midgreen {
  background-color: #d0ce57;
}
.categories .cat i {
  font-size: 45px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}
.categories .cat p {
  margin-top: 20px;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
}
.categories .cat .number {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  width: auto;
  text-align: center;
  border-radius: 5px;
  padding: 0 10px;
}

.directories {
  padding: 50px 0;
  background-color: #f8f9fe;
}
.directories .title {
  text-align: center;
  padding-bottom: 20px;
}
.directories .title h3 {
  font-family: "Lora";
  font-size: 35px;
}
.directories .thumbnail {
  padding: 0;
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 10px #ddd;
}
.directories .thumbnail .img-wrap {
  position: relative;
}
.directories .thumbnail .img-wrap .title {
  position: absolute;
  bottom: 0;
  left: 20px;
  color: #fff;
  display: block;
  width: 100%;
  text-align: left;
}
.directories .thumbnail .img-wrap .title h5 {
  font-weight: bold;
  font-size: 20px;
}
.directories .thumbnail .img-wrap .title h5 i {
  color: #2e8aff;
}
.directories .thumbnail .img-wrap img {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.directories .thumbnail .img-wrap .number {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  width: auto;
  text-align: center;
  border-radius: 5px;
  padding: 0 10px;
}
.directories .thumbnail .text {
  padding: 15px 20px 30px;
  text-align: center;
}

.practice {
  background-color: #f8f9fe;
  padding: 50px 0;
}
.practice .title {
  text-align: center;
  margin-bottom: 60px;
}
.practice .title h3 {
  font-family: "Lora";
  font-size: 35px;
}
.practice .thumbnail {
  padding: 0;
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 10px #ddd;
  text-align: center;
  margin-bottom: 30px;
}
.practice .thumbnail .img-wrap img {
  width: 100%;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.practice .thumbnail .text {
  padding: 20px;
  height: 190px;
}
.practice .thumbnail .text h5 {
  font-weight: bold;
  color: #d3862e;
  font-size: 16px;
}

/*# sourceMappingURL=ideal.css.map */
